{% extends "base.html" %}
{% load static %}

{% block title%}Registro de usuario{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'styles/register.css'%}">
{% endblock %}


{% block content%}

<div class="container py-5 h-100">
    <form action="{% url 'register' %}" method="POST">
        {{ form.username  }}
				{{ form.email  }}
				{{ form.password1  }}
				{{ form.password2  }}
        {% csrf_token %}
        <button class="btn btn-primary"> Registrarse </button> <br>
            {% for message in messages %}
							{% if messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
							{% else %}
								<div class="alert alert-danger">
										{{ message.eror }}
								</div>
        			{% endif %}
						{% endfor %}
    </form>
   
</div>


{% endblock %}