<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
		<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
		<script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'styles/navbar.css' %}">
    <title>Hollow Clients System</title>
		
</head>
<body>
		<nav class="navbar nav-fill w-100 navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'images/logo.png' %}" width="30" height="30" alt="logo.png"> Hollow Clients </a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home fa-2x"></i></span></a>
					</li>
					<li class="navbar-item">
						<a class="nav-link" href="#">Servicios</a>
					</li>
					<li class="navbar-item">
						<a class="nav-link" href="#">Sobre nosotros</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-user-circle fa-2x"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Iniciar sesión</a>
							<a class="dropdown-item" href="#">Registrarse</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
				</ul>
			</div>

		</nav>

	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>