.navbar {
  font-family:sans-serif;
  background-color: #fafafa;

}


.navbar-brand img {
  margin-left: 7px;
}


body {
  background-color: #fcfcfc;
}

.nav-item .nav-link li {
  justify-content: center;
}



.navbar .nav-link:hover {
  color: #070f4e;
  opacity: 0.3;
  cursor: pointer;
}

.navbar .nav-item .nav-link {
  margin-right: 25px;
}


.far .nav-item .nav-link .dropdown-menu {
  justify-content: end;
}


* {
    margin: 0px;
    padding: 0px;
}
