.navbar {
  font-size:large;
  font-family: url('/HollowClientsSystem/static/fonts/Cerebri_Sans_ExtraBold.ttf') format("ttf");
  background-color: #5c5470;

}


.navbar-brand img {
  margin-left: 7px;
}


body {
  background-color: #fcfcfc;
}


.nav-item .nav-link li {
  justify-content: center;
}


.nav-link {
  color:#fcfcfc;
}


.far {
  color: #fcfcfc;
}


.navbar-brand  {
  color: #fcfcfc;
}


.nav-link:hover {
  color: #dbd8e3;
  opacity: 0.4;
  cursor: pointer;
}


.navbar .nav-item .nav-link {
  margin-right: 25px;
}


.far .nav-item .nav-link .dropdown-menu {
  justify-content: end;
}


* {
    margin: 0px;
    padding: 0px;
}
